/* GENERALES */

body,
input,
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sinBorde {
  border: none;
}

.margen_10px {
  margin-left: 10px;
  margin-right: 10px;
}

.colorGrey {
  fill: #767676;
}

.clickable {
  cursor: pointer;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;

  width: 100%;
  height: 99%;

  border-radius: 15px;

  opacity: 0;
}

/* ESPECIFICOS */

header {
  display: grid;

  position: fixed;

  top: 0;

  grid-template-columns: 180px 1fr 180px;

  width: 100%;
  height: 70px;

  align-items: center;
  justify-items: center;

  z-index: 2;

  background-color: #fff;
}

.logo {
  width: 45px;
  height: 45px;

  border-radius: 50%;

  background-color: transparent;
}

.divHoy {
  width: 60px;
  height: 45px;

  border-radius: 50px;

  margin-right: 10px;

  background-color: transparent;
}

.inicio {
  width: 70px;
  height: 50px;

  font-weight: 800;
  font-size: 15px;
  color: #fff;
  background-color: #000;

  border-radius: 40px;
}

.hoy {
  font-weight: 600;
  font-size: 15px;
  background-color: transparent;
}

.busqueda {
  display: flex;

  width: 100%;
  height: 50px;

  border-radius: 50px;

  align-items: center;

  background-color: #efefef;
}

.busqueda svg {
  margin-left: 15px;
  margin-right: 3px;
}

.busqueda input {
  width: 90%;
  height: 90%;

  font-size: 15px;

  background-color: transparent;
}

.perfil img {
  height: 25px;
  width: 25px;

  background-repeat: no-repeat;
  background-position: 50%;

  border-radius: 50%;

  background-size: 100% auto;
}

.menuLateral {
  width: 30px;
  height: 30px;

  border-radius: 50%;

  background-color: transparent;
}

.content {
  display: grid;

  grid-template-columns: repeat(auto-fill, 236px);
  grid-template-rows: masonry;
  gap: 40px 20px;

  margin-top: 70px;

  justify-content: center;
}

.imagen {
  width: 236px;
  border-radius: 15px;
}

.tarjeta {
  font-size: 13px;
  cursor: zoom-in;
}

.image {
  display: flex;
  cursor: pointer;
}

.image img {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}

.tarjeta p {
  margin-left: 7px;
}

.guardar {
  width: 90px;

  background-color: red;
}

.subTarjeta {
  display: grid;

  grid-template-columns: 1fr 90px;

  margin: 5%;

  align-items: center;
}

.subTarjeta p {
  font-weight: 1000;

  color: #fff;
}

.subTarjeta svg {
  width: 12px;

  margin-left: 17px;

  filter: invert();
}

.superior {
  display: flex;
  align-items: center;
}

.superior svg {
  cursor: pointer;
}

.ayuda {
  position: fixed;

  top: 85%;
  left: 95%;

  z-index: 2;
}

.ayuda svg {
  width: 20px;
  height: 20px;

  display: grid;

  align-items: center;
  justify-content: center;
}

.mas,
.pregunta {
  width: 50px;
  height: 50px;

  border-radius: 50%;

  box-shadow: 7px 7px 53px #ccc, -7px -7px 53px #ffffff;

  background-color: #fff;
}

.pregunta {
  margin-top: 10px;
}

/* HOVERS */

.busqueda:hover,
.logo:hover,
.divHoy:hover,
.menuLateral:hover,
.mas:hover,
.pregunta:hover {
  background-color: #e2e2e2;
}

div.busqueda input:hover {
  background-color: #e2e2e200;
}

.absolute:hover {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.guardar:hover {
  background-color: #ad081b;
}

/* FOCUS */

input:focus {
  outline: none;
}
